@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@400;500&display=swap');


body {
  margin: 0;

  font-family: 'Roboto', sans-serif;
  background-color: #1c1c1c;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
}

p {
  margin: 0;
}


.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 165px;
  height: 50px;

  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;

  background: #f6762c;
  border-radius: 5px;

  transition: opacity 0.3s;
}

.btn:hover {
  opacity: 0.8;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */

.header {
  padding: 25px 0;

}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {}

.header__logo {}

.header__nav {}

.header__list {
  display: flex;
  gap: 28px;
}

.header__list-item {}

.header__link,
.header__link--active {
  text-transform: uppercase;
  font-size: 14px;

  opacity: 0.7;

  transition: opasity 0.3s;
}

.header__nav .header__link:hover,
.header__nav .header__link--active:hover {
  opacity: 0.9;
}

.header__nav .header__link--active {
  font-weight: 500;
  opacity: 1;
}

/* Welcome section */
.welcome {
  box-sizing: border-box;
  min-height: 100vh;

  background-image: url('./src/img/welcome-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 240px 0;
  margin-top: -100px;
}

.container {}

.welcome__text {
  width: 550px;
}

.welcome__subtitle {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.1em;
  margin-bottom: 7px;
}

.welcome__title {
  font-size: 58px;
  margin-bottom: 40px;
}

.welcome__desk {
  font-size: 18px;
  opacity: 0.7;
  margin-bottom: 40px;
}

/* food-list */
.food-list {}

.food-list .container {
  padding: 105px 0;
}

.food-list__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px 10px;

}

.food-list__item {
  width: 260px;
  height: 323px;
  border-radius: 10px;
  background-color: #312F30;

  overflow: hidden;
  text-align: center;
}

.food-list__img {
  max-width: 100%;
  height: 175px;
  object-fit: cover;

}

.food-list_card-text {
  padding: 30px 20px;
}

.food-list__title {
  font-size: 20px;
  margin-bottom: 13px;
}

.food-list__text {
  font-size: 16px;
  opacity: 0.7;
}

/* order */

.order {
  background-color: #312F30;
  padding: 60px 0;
}

.order .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order__img {}

.order__text {
  max-width: 371px;
  margin-right: 92px;
}

.order__title {
  font-size: 44px;
  margin-bottom: 24px;
}

.order__desc {
  font-size: 16px;
  opacity: 0.7;
  margin-bottom: 13px;
}

.order__price {
  font-weight: 500;
  letter-spacing: 0.1em;
  font-size: 20px;
  color: #F6762C;

}

.order__price--old {
  font-size: 16px;
  opacity: 0.5;
  text-decoration: line-through;
}

.order__price+.order__price {
  margin-left: 3px;
}

.order__text .btn {
  margin-top: 11px;
}

/* product */
.product {
  padding: 150px 0;
}

.product .container {}

.product__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.product__item {
  position: relative;
}

.product__img {
  width: 555px;
  height: 300px;
}

.product__desc {
  position: absolute;
  width: 255px;
  top: 63px;
}

.product__item:nth-child(odd) .product__desc {
  left: 290px;
}

.product__item:nth-child(even) .product__desc {
  left: 50px;
}

.product__title {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 20px;
}

.product__text {
  font-weight: 400;
  opacity: 0.7;
  margin-bottom: 20px;
}

.product__price {
  font-weight: 500;
  letter-spacing: 0.1em;
  font-size: 16px;
  color: #F6762C;
}

.product__price--old {
  font-size: 16px;
  opacity: 0.5;
  text-decoration: line-through;
}

.order__price+.order__price {
  margin-left: 3px;
}

.btn {
  font-size: 12px;
  font-weight: 500;

  width: 141px;
  height: 39px;
  margin-top: 11px;
}

/* feedback */
.feedback .container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 203px;
}

.feedback__circle {
  position: relative;
  margin-left: 187px;
  width: 346px;
  height: 346px;
}

.feedback__circle-outer {
  width: 346px;
  height: 346px;
  border-radius: 50%;
  border-color: #F6762C;
  opacity: 0.3;
  border-style: dashed;
}

.feedback__circle-inner {
  position: absolute;
  top: 58px;
  left: 58px;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  border-color: #F6762C;
  opacity: 0.3;
  border-style: dashed;
}

.feedback__photo1 {
  position: absolute;
  top: 56px;
  left: 56px;
}

.feedback__photo2 {
  position: absolute;
  top: 44px;
  left: -19px;
}

.feedback__photo3 {
  position: absolute;
  top: -6px;
  left: 235px;
}

.feedback__photo4 {
  position: absolute;
  top: 230px;
  left: 280px;
}

.feedback__photo5 {
  position: absolute;
  top: 290px;
  left: 57px;
}

.feedback__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 103px;
  max-width: 368px;
}

.feedback__quote {
  width: 47px;
  height: 47px;
  margin-bottom: 37px;
}


.feeback__text {
  text-align: center;
  opacity: 0.7;
  margin-bottom: 27px;
  font-size: 16px;
}

.feedback__title {
  font-size: 24px;
  margin-bottom: 2px;
}

.feeback__name {
  font-size: 12px;
  font-weight: 600;
  opacity: 0.7;
}

/* download */
.download {
  background-color: #312F30;
}

.download .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 61px 0;

}

.download__title {
  font-size: 40px;
}

.download .btn {
  width: 165px;
  height: 49px;

  font-size: 16px;
  font-weight: 500;
}